/*/////////////////////////////////////////////////////////// RESET */
/*Thank you http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div {
	margin: 0;
	padding: 0;
	vertical-align: top;
}






/*/////////////////////////////////////////////////////////// PAGE */



body {
/*	background-color: #000000;*/
/*	color: #aaaaaa;*/
	font-family: 'Barlow', 'Lucida Grande', 'Tahoma', 'verdana', sans-serif;
	margin: 0px auto 0px auto;
	padding: 0px 0 0 0;
	text-align: center;
	cursor: default;
}


#content {
	display: block;
	width: 500px;
	color: #000;
	margin: 0px auto 100px auto;
	text-align: left;
	cursor: default;
	line-height: 150%;
	font-family: 'Georgia', 'Times New Roman', 'Times', serif;
}

#content > span {
	opacity: 0;
}


.last {
	cursor: default;
}

#act {
	display:inline-block;
	background: transparent;
	width: 50px;
	height: 50px;
	color:#bbb;
}



/*///////////////////////////////////////////////////HEADRER*/

#header {
	display:block;
	background-color: #fff;
	padding: 10px 20px 15px 15px;
	margin: 0 0 100px 0;
	color:#000;
	text-align:left;
}

a.homeButton {
	display:inline-block;
	text-align:left;
	font-size: 12px;
	margin:0 0 0px 0;
	color: #ccc;
	text-decoration: none;
}

a.homeButton:hover {
	color: #000;
}

